---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import { ButtonBack } from "@/components/system/backbutton";
import { ApiMA } from "@/api";
import { Button } from "@/components/ui/button";
import { Card, CardContent, CardFooter } from "@/components/ui/card";
import { Table, TableBody, TableCaption, TableCell, TableFooter, TableHead, TableHeader, TableRow } from "@/components/ui/table";

export function getStaticPaths() {
  const pages = [
    {
      id: undefined,
    }
  ];

  return pages.map(({ id }) => {
    return {
      params: { id },
    };
  });
}

const data = await ApiMA.getInstance().findById("user", Astro.params.id);
---

<Layout>
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-3xl font-bold tracking-tight text-primary">Show</h1>
      <p class="text-muted-foreground">User</p>
    </div>
  </div>
  <Card className="w-[800px]">
    <CardContent>
      <Table>
        <TableCaption>A user data</TableCaption>
        <TableBody>
          <TableRow>
            <TableHead className="w-[100px]"><b>Username</b></TableHead>
            <TableCell>{data.username}</TableCell>
          </TableRow>
          <TableRow>
            <TableHead className="w-[100px]"><b>Email</b></TableHead>
            <TableCell>{data.email}</TableCell>
          </TableRow>
          <TableRow>
            <TableHead className="w-[100px]"><b>Roles</b></TableHead>
            <TableCell>{data.roles.map(o => o.name).join(", ")}</TableCell>
          </TableRow>
          <TableRow>
            <TableHead className="w-[100px]"><b>Enabled</b></TableHead>
            <TableCell>{data.is_enable}</TableCell>
          </TableRow>
        </TableBody>  
      </Table>
    </CardContent>
    <CardFooter className="flex justify-between">
      <Button variant={"yellow"}>
        <a href={`/user/edit/${data.id}`}>Edit</a>
      </Button>
      <ButtonBack client:only/>
    </CardFooter>
  </Card>
</Layout>