---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import { RoleSave } from "@/app/role/save";
import { ApiMA } from "@/api";

export function getStaticPaths() {
  const pages = [
    {
      id: undefined,
    }
  ];

  return pages.map(({ id }) => {
    return {
      params: { id },
    };
  });
}

const data = await ApiMA.getInstance().findById("role", Astro.params.id);
---

<Layout>
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-3xl font-bold tracking-tight text-primary">Edit</h1>
      <p class="text-muted-foreground">Role</p>
    </div>
  </div>
  <div class="max-w-[800px]">
    <RoleSave data={data} client:only />
  </div>
</Layout>