---
import "@/styles/global.css";
import "@/styles/fonts.css";
import SideBarMA from "@/app/sidebar";
import HeadSEO from "@/components/astro/HeadSEO.astro";
import Footer from "@/components/astro/Footer.astro";
import { Toaster } from "@/components/ui/sonner"

---
<!doctype html>
<html lang="en">
  <head>
    <HeadSEO title="System" description="System description" />
  </head>
  <body>
    <div class="flex">
      <SideBarMA client:load pathname={Astro.url.pathname}>
        <slot />   
      </SideBarMA>
    </div>
    <Toaster client:only richColors />
    <Footer>
    </Footer>
  </body>
</html>